<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e76dc76644.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Story 1 PPW</title>
</head>
<body>
    <div class="header">
        <h1>My Profile</h1>
    </div>
    <div class="middle">
        <div class="center">
            <div class="avatar">
                <img src="{% static 'home/MY09.jpg' %}" alt="image">
            </div>
            <!-- Biodata :
                Nama, NPM, Angkatan, Hobi, Deskripsi 
                Tempat kuliah, Foto, Riwayat Pendidikan, Sosmed
            -->
    
            <div class="content">
                <h1>Bima Bagas Raditya</h1>
                <h3>1906398585</h2>
                <h2>Universitas Indonesia'19</h2>
                <p>a computer science student who's trying to jump into mobile development.</p>
                <p>watching animal vids is my hobby, especially a cat</p>
            </div>
    
            <div class="social">
                <a href="http://fb.com/bima.b.r.5" >
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="empty"></div>
</body>
</html>