:root {
    --text-color: #fff;
}

html {
    /* background: linear-gradient(180deg, rgba(105,204,226,1) 0%, rgba(16,50,91,1) 100%) no-repeat; */
    background: linear-gradient(180deg, rgba(32,32,32,1) 26%, rgba(18,18,18,1) 63%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    font-size: 100%;

    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
    opacity: 0.8;
}

a, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.header {
    margin-top: 35px;
    text-align: center;
}

.middle {
    height: 80%;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 400px;
    width: 25%;
    padding: 50px;
    margin: 0 auto;

    background: #282828;
    border-radius: 30px;
}

.content {
    text-align: center;
}

.avatar img{
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    object-fit: cover;
    object-position: 50% 40%;
}

.social {
    margin-top: 1rem;
}

.social a {
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;
}

.social a:hover {
    opacity: 1;
}


.social a:not(:last-child) {
    margin-right: 25px;
}

.fab {
    color: var(--text-color);
    font-size: 2rem;
}